@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/footer", "layout/header", "layout/menu";

@import "pages/why-upmonth", "pages/pricing";

@import "sections/hero", "sections/email-documents", "sections/seamless",
  "sections/fast-simple", "sections/secure-effecient", "sections/simple-free",
  "sections/effecient-file-sharing", "sections/section-nav",
  "sections/scrolling-items", "sections/testimonials",
  "sections/dynamic-dashboard";

@import "components/ui-elements", "components/modal", "components/grid";

body {
  font-family: $museo_sans500;

  &.modal-active {
    overflow: hidden;
  }
}
h1,
h2,
h3 {
  font-family: $museo_sans500;
}
.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.main-wrap {
  background: $white-color;
  position: relative;
  margin: 0 0 600px;
  @include breakpoint(sm) {
    margin: 0;
  }
  @include breakpoint(md) {
    margin: 0;
  }
}

section {
  @include padding(100px, 0, 100px, 0);
  @include margin(0, 0, 100px, 0);

  @include breakpoint(sm) {
    @include padding(50px, 0, 50px, 0);
    @include margin(0, 0, 50px, 0);
  }

  @include breakpoint(md) {
    @include padding(50px, 0, 50px, 0);
    @include margin(0, 0, 50px, 0);
  }

  .title-wrap {
    @include flex-column;
    @include margin(0, 0, 70px, 0);
    &__title {
      @include font-size(49px);
      font-family: $museo_sans700;
      @include margin(0, 0, 10px, 0);

      @include breakpoint(lp) {
        @include font-size(40px);
      }
      @include breakpoint(md) {
        @include font-size(31px);
        @include margin(0, 0, 0, 0);
      }
      @include breakpoint(sm) {
        @include font-size(31px);
        @include margin(0, 0, 0, 0);
      }
    }
    &__sub-title {
      @include font-size(31px);
      @include margin(0, 0, 10px, 0);

      @include breakpoint(lp) {
        @include font-size(24px);
      }
      @include breakpoint(md) {
        @include font-size(20px);
      }
      @include breakpoint(sm) {
        @include font-size(20px);
      }
    }
    &__description {
      @include font-size(20px);
      color: $grey-color-2;

      @include breakpoint(lp) {
        @include font-size(18px);
      }
      @include breakpoint(md) {
        @include font-size(16px);
      }
      @include breakpoint(sm) {
        @include font-size(12.8px);
      }
    }
    &.grey {
      color: $dark-grey-color;
    }
    &.white {
      color: $white-color;
      .title-wrap__description {
        color: $white-color;
      }
    }
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
    &.center {
      text-align: center;
    }
    &.nomargin {
      @include margin(0, 0, 0, 0);
    }
  }
  &.bg-grey {
    background: $light-grey-color;
  }
  &.bg-dark {
    background: $dark-grey-color;
  }
  &.nomargin {
    @include margin(0, 0, 0, 0);
  }
  &.nopadding {
    @include padding(0, 0, 0, 0);
  }
}

.white-color-text {
  color: $white-color;
}
.black-color-text {
  color: $black-color;
}
.brand-color-text {
  color: $brand-color;
}
.bold-text {
  font-family: $museo_sans700;
}
strong {
  font-family: $museo_sans700;
}

@include breakpoint(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1620px;
  }
}

.main-text {
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  text-align: center;

  @include breakpoint(md) {
    height: auto;
  }
  @include breakpoint(sm) {
    height: auto;
  }

  h2 {
    font-family: $museo_sans700;
    @include font-size(70px);
    @include margin(0, 0, 50px, 0);
    color: $black-color;

    @include breakpoint(lp) {
      @include font-size(50px);
    }
    @include breakpoint(md) {
      @include font-size(39px);
    }
    @include breakpoint(sm) {
      @include font-size(39px);
    }
  }
  h3 {
    @include font-size(60px);
    @include margin(0, 0, 80px, 0);
    color: $black-color;

    @include breakpoint(lp) {
      @include font-size(35px);
    }
    @include breakpoint(md) {
      @include font-size(25px);
    }
    @include breakpoint(sm) {
      @include font-size(25px);
    }
  }
}
