.hamburger {
  &__wrap {
    position: relative;
    height: 100px;
    @include flex-center-vert;

    @include breakpoint(lp) {
      height: 70px;
    }
    @include breakpoint(sm) {
      height: 70px;
    }
    @include breakpoint(md) {
      height: 70px;
    }
    .signin-btn {
      margin-left: auto;
      @include breakpoint(sm) {
        display: none;
      }
      @include breakpoint(md) {
        display: none;
      }
    }
  }
  &__menu {
    height: 27px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
    @include absolute-position(absolute, 40px, -50px, 0, initial);

    @include breakpoint(lp) {
      @include absolute-position(absolute, 25px, -50px, 0, initial);
    }

    @include breakpoint(sm) {
      position: fixed;
      top: 25px;
      right: 25px;
      z-index: 999;
    }
    @include breakpoint(md) {
      @include absolute-position(absolute, 25px, 0, 0, initial);
    }

    span {
      background: $brand-color;
      border: none;
      height: 1px;
      width: 100%;
      @include absolute-position(absolute, 0, 0, 0, 0);
      @include transition;
      cursor: pointer;

      @include breakpoint(sm) {
        background: $brand-color;
      }
    }
    &:hover {
      .middle {
        width: 20px;
      }
      span {
        background: $brand-color;
      }
    }
    &.active {
      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $dark-grey-color;
      }
      .middle {
        opacity: 0;
        background: $dark-grey-color;
      }
      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $dark-grey-color;
      }
    }
  }
}

.hamburger__menu span:nth-of-type(2) {
  top: 11px;
}
.hamburger__menu span:nth-of-type(3) {
  top: 22px;
}

.sliding-menu {
  .overlay {
    @include absolute-position(absolute, 0, 0, 0, 0);
    background: $white-color;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.95s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 9;
    display: flex;

    @include breakpoint(sm) {
      position: fixed;
      flex-direction: column;
    }

    &.open {
      opacity: 10;
      visibility: visible;
      height: 100px;

      @include breakpoint(lp) {
        height: 70px;
      }
      @include breakpoint(md) {
        height: 70px;
      }
      @include breakpoint(sm) {
        height: 100%;
      }

      li {
        animation: fadeInTop 0.7s ease forwards;
        animation-delay: 0.35s;
      }
    }
    &__wrapper {
      display: flex;
      height: 100px;
      @include flex-center-vert;

      @include breakpoint(lp) {
        height: 70px;
      }
      @include breakpoint(md) {
        height: 70px;
      }

      @include breakpoint(sm) {
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        @include padding(20px, 0, 0, 0);
      }

      .logo {
        background: url(../images/new_upmonth_logo_blue.svg) no-repeat;
        background-size: 85px 50px;
        width: 85px;
        height: 50px;
      }
      .overlay-menu {
        margin-left: auto;

        @include breakpoint(sm) {
          margin-left: inherit;
          width: 100%;
          @include padding(100px, 0, 0, 0);
        }

        @include breakpoint(md) {
          margin-right: 50px;
        }

        ul {
          @include flex-center-vert;

          @include breakpoint(sm) {
            flex-direction: column;
          }

          li {
            @include margin(0, 30px, 0, 0);
            opacity: 0;
            top: 0;
            position: relative;

            @include breakpoint(sm) {
              @include margin(0, 0, 30px, 0);
            }

            .nav-link {
              color: $dark-grey-color;
              @include font-size(16px);
              @include transition;
              position: relative;
              &::before {
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 0;
                height: 1px;
                background: $brand-color;
                @include transition;
                content: "";
              }

              &:hover {
                color: $brand-color;
                &::before {
                  width: 10px;
                }
              }
            }
            &:last-child {
              @include margin(0, 0, 0, 150px);

              @include breakpoint(sm) {
                @include margin(0, 0, 0, 0);
              }
              @include breakpoint(md) {
                @include margin(0, 0, 0, 0);
              }
            }
          }
        }
      }
    }
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      top: -50px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
}
