// #modal-container {
//   position: fixed;
//   display: table;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   transform: scale(0);
//   z-index: 9999;
//   &.one {
//     transform: scaleY(0.01) scaleX(0);
//     animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//     .modal-background {
//       .modal {
//         transform: scale(0);
//         animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       }
//     }
//     &.out {
//       transform: scale(1);
//       animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       .modal-background {
//         .modal {
//           animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         }
//       }
//     }
//   }
//   &.two {
//     transform: scale(1);
//     .modal-background {
//       background: rgba(0, 0, 0, 0);
//       animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       .modal {
//         opacity: 0;
//         animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       }
//     }
//     + .content {
//       animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//     }
//     &.out {
//       animation: quickScaleDown 0s 0.5s linear forwards;
//       .modal-background {
//         animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         .modal {
//           animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         }
//       }
//       + .content {
//         animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       }
//     }
//   }
//   &.three {
//     z-index: 0;
//     transform: scale(1);
//     .modal-background {
//       background: rgba(0, 0, 0, 0.6);
//       .modal {
//         animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       }
//     }
//     + .content {
//       z-index: 1;
//       animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//     }
//     &.out {
//       .modal-background {
//         .modal {
//           animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         }
//       }
//       + .content {
//         animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//           forwards;
//       }
//     }
//   }
//   &.four {
//     z-index: 0;
//     transform: scale(1);
//     .modal-background {
//       background: rgba(0, 0, 0, 0.7);
//       .modal {
//         animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       }
//     }
//     + .content {
//       z-index: 1;
//       animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//     }
//     &.out {
//       .modal-background {
//         .modal {
//           animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//             forwards;
//         }
//       }
//       + .content {
//         animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//           forwards;
//       }
//     }
//   }
//   &.five {
//     transform: scale(1);
//     .modal-background {
//       background: rgba(0, 0, 0, 0);
//       animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       .modal {
//         transform: translateX(-1500px);
//         animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       }
//     }
//     &.out {
//       animation: quickScaleDown 0s 0.5s linear forwards;
//       .modal-background {
//         animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         .modal {
//           animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//             forwards;
//         }
//       }
//     }
//   }
//   &.six {
//     transform: scale(1);
//     .modal-background {
//       background: rgba(0, 0, 0, 0);
//       animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       .modal {
//         background-color: transparent;
//         animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1)
//           forwards;
//         h2,
//         p {
//           opacity: 0;
//           position: relative;
//           animation: modalContentFadeIn 0.5s 1s
//             cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         }
//         .modal-svg {
//           rect {
//             animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1)
//               forwards;
//           }
//         }
//       }
//     }
//     &.out {
//       animation: quickScaleDown 0s 0.5s linear forwards;
//       .modal-background {
//         animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         .modal {
//           animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//             forwards;
//           h2,
//           p {
//             animation: modalContentFadeOut 0.5s
//               cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//           }
//           .modal-svg {
//             rect {
//               animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//                 forwards;
//             }
//           }
//         }
//       }
//     }
//   }
//   &.seven {
//     transform: scale(1);
//     .modal-background {
//       background: rgba(0, 0, 0, 0);
//       animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//       .modal {
//         height: 75px;
//         width: 75px;
//         border-radius: 75px;
//         overflow: hidden;
//         animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1)
//           forwards;
//         h2,
//         p {
//           opacity: 0;
//           position: relative;
//           animation: modalContentFadeIn 0.5s 1.4s linear forwards;
//         }
//       }
//     }
//     &.out {
//       animation: slowFade 0.5s 1.5s linear forwards;
//       .modal-background {
//         background-color: rgba(0, 0, 0, 0.7);
//         animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//         .modal {
//           border-radius: 3px;
//           height: 162px;
//           width: 227px;
//           animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//           h2,
//           p {
//             animation: modalContentFadeOut 0.5s 0.5
//               cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
//           }
//         }
//       }
//     }
//   }
//   .modal-background {
//     display: table-cell;
//     background: rgba(0, 0, 0, 0.8);
//     text-align: center;
//     vertical-align: middle;
//     .modal {
//       background: white;
//       padding: 50px;
//       display: inline-block;
//       border-radius: 3px;
//       font-weight: 300;
//       position: relative;
//       h2 {
//         font-size: 25px;
//         line-height: 25px;
//         margin-bottom: 15px;
//       }
//       p {
//         font-size: 18px;
//         line-height: 22px;
//       }
//       .modal-svg {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height: 100%;
//         width: 100%;
//         border-radius: 3px;
//         rect {
//           stroke: #fff;
//           stroke-width: 2px;
//           stroke-dasharray: 778;
//           stroke-dashoffset: 778;
//         }
//       }
//     }
//   }
// }

// .content {
//   min-height: 100%;
//   height: 100%;
//   background: white;
//   position: relative;
//   z-index: 0;
//   h1 {
//     padding: 75px 0 30px 0;
//     text-align: center;
//     font-size: 30px;
//     line-height: 30px;
//   }
//   .buttons {
//     max-width: 800px;
//     margin: 0 auto;
//     padding: 0;
//     text-align: center;
//     .button {
//       display: inline-block;
//       text-align: center;
//       padding: 10px 15px;
//       margin: 10px;
//       background: red;
//       font-size: 18px;
//       background-color: #efefef;
//       border-radius: 3px;
//       box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
//       cursor: pointer;
//       &:hover {
//         color: white;
//         background: #009bd5;
//       }
//     }
//   }
// }

// @keyframes unfoldIn {
//   0% {
//     transform: scaleY(0.005) scaleX(0);
//   }
//   50% {
//     transform: scaleY(0.005) scaleX(1);
//   }
//   100% {
//     transform: scaleY(1) scaleX(1);
//   }
// }

// @keyframes unfoldOut {
//   0% {
//     transform: scaleY(1) scaleX(1);
//   }
//   50% {
//     transform: scaleY(0.005) scaleX(1);
//   }
//   100% {
//     transform: scaleY(0.005) scaleX(0);
//   }
// }

// @keyframes zoomIn {
//   0% {
//     transform: scale(0);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes zoomOut {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0);
//   }
// }

// @keyframes fadeIn {
//   0% {
//     background: rgba(0, 0, 0, 0);
//   }
//   100% {
//     background: rgba(0, 0, 0, 0.7);
//   }
// }

// @keyframes fadeOut {
//   0% {
//     background: rgba(0, 0, 0, 0.7);
//   }
//   100% {
//     background: rgba(0, 0, 0, 0);
//   }
// }

// @keyframes scaleUp {
//   0% {
//     transform: scale(0.8) translateY(1000px);
//     opacity: 0;
//   }
//   100% {
//     transform: scale(1) translateY(0px);
//     opacity: 1;
//   }
// }

// @keyframes scaleDown {
//   0% {
//     transform: scale(1) translateY(0px);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(0.8) translateY(1000px);
//     opacity: 0;
//   }
// }

// @keyframes scaleBack {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0.85);
//   }
// }

// @keyframes scaleForward {
//   0% {
//     transform: scale(0.85);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes quickScaleDown {
//   0% {
//     transform: scale(1);
//   }
//   99.9% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0);
//   }
// }

// @keyframes slideUpLarge {
//   0% {
//     transform: translateY(0%);
//   }
//   100% {
//     transform: translateY(-100%);
//   }
// }

// @keyframes slideDownLarge {
//   0% {
//     transform: translateY(-100%);
//   }
//   100% {
//     transform: translateY(0%);
//   }
// }

// @keyframes moveUp {
//   0% {
//     transform: translateY(150px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }

// @keyframes moveDown {
//   0% {
//     transform: translateY(0px);
//   }
//   100% {
//     transform: translateY(150px);
//   }
// }

// @keyframes blowUpContent {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   99.9% {
//     transform: scale(2);
//     opacity: 0;
//   }
//   100% {
//     transform: scale(0);
//   }
// }

// @keyframes blowUpContentTwo {
//   0% {
//     transform: scale(2);
//     opacity: 0;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 1;
//   }
// }

// @keyframes blowUpModal {
//   0% {
//     transform: scale(0);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes blowUpModalTwo {
//   0% {
//     transform: scale(1);
//     opacity: 1;
//   }
//   100% {
//     transform: scale(0);
//     opacity: 0;
//   }
// }

// @keyframes roadRunnerIn {
//   0% {
//     transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
//   }
//   70% {
//     transform: translateX(30px) skewX(0deg) scaleX(0.9);
//   }
//   100% {
//     transform: translateX(0px) skewX(0deg) scaleX(1);
//   }
// }

// @keyframes roadRunnerOut {
//   0% {
//     transform: translateX(0px) skewX(0deg) scaleX(1);
//   }
//   30% {
//     transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
//   }
//   100% {
//     transform: translateX(1500px) skewX(30deg) scaleX(1.3);
//   }
// }

// @keyframes sketchIn {
//   0% {
//     stroke-dashoffset: 778;
//   }
//   100% {
//     stroke-dashoffset: 0;
//   }
// }

// @keyframes sketchOut {
//   0% {
//     stroke-dashoffset: 0;
//   }
//   100% {
//     stroke-dashoffset: 778;
//   }
// }

// @keyframes modalFadeIn {
//   0% {
//     background-color: transparent;
//   }
//   100% {
//     background-color: white;
//   }
// }

// @keyframes modalFadeOut {
//   0% {
//     background-color: white;
//   }
//   100% {
//     background-color: transparent;
//   }
// }

// @keyframes modalContentFadeIn {
//   0% {
//     opacity: 0;
//     top: -20px;
//   }
//   100% {
//     opacity: 1;
//     top: 0;
//   }
// }

// @keyframes modalContentFadeOut {
//   0% {
//     opacity: 1;
//     top: 0px;
//   }
//   100% {
//     opacity: 0;
//     top: -20px;
//   }
// }

// @keyframes bondJamesBond {
//   0% {
//     transform: translateX(1000px);
//   }
//   80% {
//     transform: translateX(0px);
//     border-radius: 75px;
//     height: 75px;
//     width: 75px;
//   }
//   90% {
//     border-radius: 3px;
//     height: 182px;
//     width: 247px;
//   }
//   100% {
//     border-radius: 3px;
//     height: 162px;
//     width: 227px;
//   }
// }

// @keyframes killShot {
//   0% {
//     transform: translateY(0) rotate(0deg);
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(300px) rotate(45deg);
//     opacity: 0;
//   }
// }

// @keyframes fadeToRed {
//   0% {
//     background-color: rgba(black, 0.6);
//   }
//   100% {
//     background-color: rgba(red, 0.8);
//   }
// }

// @keyframes slowFade {
//   0% {
//     opacity: 1;
//   }
//   99.9% {
//     opacity: 0;
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(0);
//   }
// }

.modal {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  .modal-content {
    background: rgba($white-color, 0.9);
  }
  &.show {
    .unique-id {
      &::before {
        opacity: 10 !important;
        bottom: -100px;
      }
    }
    .close-btn {
      bottom: 100px !important;

      @include breakpoint(sm) {
        bottom: 20px !important;
      }
    }
  }
}
.unique-id {
  @include flex-center-horiz;
  flex-direction: column;
  height: calc(100% - 100px);
  width: 100%;
  padding: 0 30%;
  position: relative;

  @include breakpoint(sm) {
    padding: 0;
  }
  &::before {
    background: url(../images/modal-bg.png) no-repeat;
    background-size: 100%;
    position: absolute;
    content: "";
    bottom: -300px;
    left: -100px;
    width: 700px;
    height: 230px;
    opacity: 0;
    @include transition;
    @include breakpoint(sm) {
      width: 350px;
      height: 180px;
    }
  }

  label {
    color: $dark-grey-color;
    @include font-size(31px);
    display: block;
    @include margin(0, 0, 20px, 0);
  }
  .input-wrapper {
    border: 1px solid #3aa4d0;
    @include border-radius(6px);
    height: 100px;
    width: 100%;
    padding: 0 20px;
    color: $black-color;
    @include font-size(20px);
    @include margin(0, 0, 50px, 0);
  }

  .suggestion {
    @include flex-center;
    flex-direction: column;

    h3 {
      @include margin(0, 0, 20px, 0);
      @include font-size(25px);
      color: $dark-grey-color;
    }
    ul {
      display: flex;

      @include breakpoint(sm) {
        flex-direction: column;
      }

      li {
        @include margin(0, 20px, 0, 20px);
        color: #999;
        @include font-size(20px);
      }
    }
  }
}

.fixed-screen-actions {
  position: fixed;
  z-index: 2;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  background-color: $white-color;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #cfd6e1;
  @include transition;
  width: fit-content;

  @include breakpoint(sm) {
    left: 41%;
    transform: translateX(-31%);
  }

  .fixed-action-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    button {
      border-radius: 4px;
      padding: 8px;
      width: 96px;
      min-height: 80px;
      color: $white-color;
      @include transition;
      border: 1px solid transparent;
      &:hover {
        border-color: #707070;
      }
      svg {
        height: 40px;
      }
      svg.delete-btn-svg {
        width: 30px;
      }
      i {
        font-size: 24px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      i.material-icons {
        font-size: 35px;
        height: 40px;
      }
      .btn-text {
        display: block;
      }
    }

    button.lightgrey-btn {
      background: #f8f8f8;
      color: #4f4f4f;
      position: relative;
      svg {
        path {
          fill: #ffffff;
          transition: 0.3s;
        }
      }
      &:hover {
        border: 1px solid #4f4f4f;
      }
      &:focus {
        border: 1px solid #4f4f4f;
        background: #e9e9e9;
        color: #4f4f4f;
        path {
          fill: #4f4f4f;
        }
      }
    }
    button.sky-btn {
      background-color: #f4fbff;
      color: #2b75ab;
      svg {
        path {
          fill: #2889bd;
          transition: 0.3s;
        }
      }
      i {
        font-size: 34px;
      }
      &:hover {
        border: 1px solid #2b75ab;
      }
      &:focus {
        border: 1px solid #2b75ab;
        background: #daf0fc;
        color: #2889bd;
        path {
          fill: #2889bd;
        }
      }
    }
  }
  &:hover {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
  }
}
