.effecient-file-sharing {
  overflow: hidden;
  height: 100vh;

  @include breakpoint(sm) {
    height: auto;
  }

  @include breakpoint(lp) {
    height: auto;
  }
  figure {
    img {
      width: 100%;
    }
  }
  .items-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 456px;

    @include breakpoint(lp) {
      height: 300px;
    }

    @include breakpoint(sm) {
      height: auto;
      grid-template-columns: 1fr;
    }

    &__item {
      @include border-radius(8px);
      border: 1px solid $border-color;
      @include flex-center;
      flex-direction: column;
      @include padding(30px, 30px, 30px, 30px);
      p {
        color: $dark-grey-color;
        @include font-size(20px);

        @include breakpoint(lp) {
          @include font-size(18px);
        }
      }
    }
    &--item-a {
      grid-column: 1;
      grid-row: 1;

      @include breakpoint(sm) {
        grid-column: 1;
        grid-row: 1;
      }
    }
    &--item-b {
      grid-column: 2;
      grid-row: 1;
      @include breakpoint(sm) {
        grid-column: 1;
        grid-row: 2;
      }
    }
    &--item-c {
      grid-column: 1 / span 2;
      grid-row: 2;

      @include breakpoint(sm) {
        grid-column: 1;
        grid-row: 3;
      }
    }
  }
}
