.main-hero {
  background: $dark-grey-color;
  position: relative;
  height: 100vh;

  @include breakpoint(sm) {
    height: auto;
  }
  @include breakpoint(md) {
    height: auto;
  }

  &__content {
    @include flex-center;
    flex-direction: column;
    height: calc(100vh - 170px);

    @include breakpoint(lp) {
      height: calc(100vh - 270px);
    }

    @include breakpoint(sm) {
      height: auto;
      @include padding(50px, 0, 350px, 0);
    }
    @include breakpoint(md) {
      height: auto;
      @include padding(50px, 0, 350px, 0);
      align-items: flex-start;
    }

    .text-with-line {
      position: relative;
      @include font-size(20px);
      @include margin(0, 0, 100px, 0);
      color: $grey-color-1;

      @include breakpoint(sm) {
        bottom: -40px;
        @include font-size(16px);
        text-align: center;
      }

      &::before {
        position: absolute;
        bottom: -80px;
        content: "";
        height: 2px;
        background: $grey-color-1;
        left: 50%;
        width: 200px;
        transform: translateX(-50%);

        @include breakpoint(lp) {
          bottom: -40px;
        }
        @include breakpoint(sm) {
          bottom: -40px;
        }
        @include breakpoint(md) {
          bottom: -40px;
        }
      }
    }

    .main-title {
      display: flex;

      @include breakpoint(sm) {
        flex-direction: column;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }

      &__lg-text {
        @include font-size(280px);
        color: $white-color;
        @include margin(0, 80px, 0, 0);
        font-family: $museo_sans700;

        @include breakpoint(lp) {
          @include font-size(200px);
        }
        @include breakpoint(md) {
          @include font-size(165px);
          @include margin(0, 0, 0, 0);
        }
        @include breakpoint(sm) {
          @include font-size(130px);
          @include margin(0, 0, 0, 0);
        }
      }
      .gradient-wrap {
        display: flex;
        flex-direction: column;
        &__gradient-text {
          @include font-size(280px);
          font-family: $museo_sans700;
          letter-spacing: 5px;
          background: -webkit-linear-gradient(
            45deg,
            $white-color 25%,
            $white-color 25%,
            $brand-color 50%
          );
          -webkit-background-clip: text;
          -webkit-text-stroke: 5px transparent;

          @include breakpoint(lp) {
            @include font-size(200px);
          }
          @include breakpoint(md) {
            @include font-size(185px);
            -webkit-text-stroke: 3px transparent;
          }
          @include breakpoint(sm) {
            @include font-size(130px);
          }
        }
        &__white-text {
          display: block;
          color: $white-color;
          @include font-size(60px);
          @include margin(-50px, 0, 0, 0);
          font-family: $museo_sans100;
          text-align: center;

          @include breakpoint(lp) {
            @include font-size(45px);
          }
          @include breakpoint(sm) {
            @include font-size(20px);
            text-align: left;
            @include margin(0, 0, 0, 0);
          }
          @include breakpoint(md) {
            @include font-size(20px);
            text-align: left;
            @include margin(0, 0, 0, 0);
          }
        }
      }
    }
  }

  .hero-large-btn {
    background: $brand-color;
    color: $white-color;
    width: 100%;
    position: absolute;
    bottom: 0;
    @include flex-center;
    @include font-size(20px);
    @include flex-center;
    height: 70px;

    @include breakpoint(lp) {
      @include font-size(16px);
    }
    @include breakpoint(sm) {
      @include font-size(16px);
      text-align: center;
    }
    @include breakpoint(md) {
      @include font-size(16px);
      text-align: center;
    }

    &:hover {
      background: $brand-second-color;
    }
  }
  .animated-mouse-wrap {
    @include margin(0, 0, 80px, 0);
    @include absolute-position(absolute, initial, 60px, 50px, initial);
    @include flex-center-vert;
    flex-direction: column;

    @include breakpoint(sm) {
      @include margin(0, 0, 80px, 0);
      @include absolute-position(absolute, initial, 20px, 20px, initial);
    }

    .sroll-text {
      text-transform: capitalize;
      @include transform(rotate(-90deg));
      display: block;
      @include font-size(12px);
      color: $white-color;
      letter-spacing: 2px;
      @include margin(0, 0, 10px, 0);
    }
    .mouse {
      width: 26px;
      height: 40px;
      border-radius: 15px;
      border: 1px solid $white-color;
      position: relative;
      overflow: hidden;
      margin-top: 40px;
      .roll {
        @include absolute-position(absolute, 8px, 0, 0, 50%);
        width: 4px;
        @include margin(0, 0, 0, -2px);
        height: 4px;
        @include border-radius(4px);
        background: $white-color;
        -webkit-animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1)
          infinite alternate;
        animation: mouseScroll 0.8s cubic-bezier(0.7, 0, 0.3, 1) infinite
          alternate;
        z-index: 2;
      }
    }
  }
}
@keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}

.upm-intro {
  position: relative;
  &__wrapper {
    height: 100vh;
    @include flex-center-vert;

    @include breakpoint(sm) {
      height: auto;
    }
    @include breakpoint(md) {
      height: auto;
    }

    .content {
      &__left {
        .upm-logo-lg {
          width: 320px;
          height: 320px;
          @include margin(0, 0, -50px, 150px);

          @include breakpoint(lp) {
            width: 220px;
            height: 220px;
          }
          @include breakpoint(sm) {
            width: 150px;
            height: 150px;
            @include margin(0, 0, 30px, 0);
          }
          @include breakpoint(md) {
            width: 150px;
            height: 150px;
            @include margin(0, 0, 30px, 0);
          }

          img {
            @include object-fit-cover;
          }
        }
        h2 {
          color: $grey-color-1;
          @include margin(0, 0, 120px, 0);
          @include font-size(39px);

          @include breakpoint(lp) {
            @include font-size(31px);
          }
          @include breakpoint(sm) {
            @include font-size(31px);
            @include margin(0, 0, 40px, 0);
          }
          @include breakpoint(md) {
            @include font-size(31px);
            @include margin(0, 0, 40px, 0);
          }
        }
        p {
          color: $grey-color-2;
          @include margin(0, 0, 20px, 0);
          @include font-size(31px);

          @include breakpoint(lp) {
            @include font-size(20px);
          }
          @include breakpoint(sm) {
            @include font-size(16px);
          }
          @include breakpoint(md) {
            @include font-size(16px);
          }
        }
      }
      &__right {
        h4 {
          color: $grey-color-1;
          @include margin(0, 0, 50px, 0);
          @include font-size(25px);

          @include breakpoint(sm) {
            @include font-size(16px);
            @include margin(0, 0, 30px, 0);
          }
          @include breakpoint(md) {
            @include font-size(16px);
            @include margin(0, 0, 30px, 0);
          }
        }
        .list-group {
          &__item {
            color: $grey-color-2;
            @include margin(0, 0, 25px, 0);
            @include font-size(25px);

            @include breakpoint(lp) {
              @include font-size(18px);
            }
            @include breakpoint(sm) {
              @include font-size(16px);
            }
            @include breakpoint(md) {
              @include font-size(16px);
            }
          }
        }
      }
    }
  }
}
