.section-nav {
  // height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  @include breakpoint(sm) {
    grid-template-columns: 1fr 1fr;
  }

  &__link {
    @include border-radius(8px);
    border: 1px solid $border-color;
    color: $dark-grey-color;
    @include padding(40px, 40px, 40px, 40px);
    @include transition;
    @include flex-center-horiz;
    flex-direction: column;

    @include breakpoint(sm) {
      @include padding(20px, 20px, 20px, 20px);
    }
    h3 {
      font-family: $museo_sans700;
      @include font-size(31px);
      @include margin(0, 0, 10px, 0);

      @include breakpoint(lp) {
        @include font-size(24px);
      }
      @include breakpoint(md) {
        @include font-size(18px);
      }
      @include breakpoint(md) {
        @include font-size(20px);
      }
    }
    p {
      @include font-size(24px);

      @include breakpoint(lp) {
        @include font-size(20px);
      }
      @include breakpoint(md) {
        @include font-size(16px);
        line-height: 20px;
      }
      @include breakpoint(sm) {
        @include font-size(14px);
        line-height: 20px;
      }
    }
    &:hover {
      background: $brand-color;
      color: $white-color;
    }
  }
  &--link-a {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 450px;

    @include breakpoint(lp) {
      height: 350px;
    }
    @include breakpoint(sm) {
      height: auto;
      grid-column: 1;
      grid-row: 1;
    }
  }
  &--link-b {
    grid-column: 1;
    grid-row: 3;
    height: 250px;
    @include breakpoint(lp) {
      height: 150px;
    }
    @include breakpoint(sm) {
      height: auto;
      grid-column: 1;
      grid-row: 2;
    }
  }
  &--link-c {
    grid-column: 2;
    grid-row: 1;
    height: 250px;
    @include breakpoint(lp) {
      height: 150px;
    }
    @include breakpoint(sm) {
      height: auto;
      grid-column: 1;
      grid-row: 3;
    }
  }
  &--link-d {
    grid-column: 2;
    grid-row: 2 / span 2;
    height: 450px;
    @include breakpoint(lp) {
      height: 350px;
    }
    @include breakpoint(sm) {
      height: auto;
      grid-column: 2;
      grid-row: 1;
    }
  }
  &--link-e {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 450px;
    @include breakpoint(lp) {
      height: 350px;
    }
    @include breakpoint(sm) {
      height: auto;
      grid-column: 2;
      grid-row: 2;
    }
  }
  &--link-f {
    grid-column: 3;
    grid-row: 3;
    height: 250px;
    @include breakpoint(lp) {
      height: 150px;
    }
    @include breakpoint(sm) {
      height: auto;
      grid-column: 2;
      grid-row: 3;
    }
  }
}
